/* selector Universal */
 * {
    margin: 0;
    padding: 0;

 }
 /* selector de etiqueta  */
 body {
    background-color:white;
    color: blue;
 }
 ul {
    text-align: center;
    padding: 10px;
 }
 li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;
 }
li a:hover {
    
    color:crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/* selector id */
#contenedor{
    width: 900px;
    height: 2000px;
    background-color: bisque;
    margin: 10px;
    padding: 20px;
}
#encabezado {
    width: 90%;
    background-color: rgb(227, 169, 81);
    margin: 1em;
    text-align: center;
    border-radius: 5px;
}
#menu {
    height: 40px;
    background-color: aquamarine;
    margin: 1em;
    border-radius: 5px;

}
#pie {

    height: 60px;
    background-color: dimgray;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}
#pie h5 {
    padding: 15px;
    font-size: 30px;
    color: bisque;
}
/* selector de clase */
.img {

    width: 50%;
    justify-items: center;
}

.texto {
 text-align: justify;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 15px;
 padding: 5px,25px;
 color: black;
 
}